In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('/Users/griffinmccauley/Documents/MSDS/DS5100/DS5100-Final-Project')
from montecarlo.montecarlo import Die, Game, Analyzer

Welcome to my Monte Carlo module.

In [2]:
td = Die(['hello','world','test'])

In [3]:
td.weights

array([1., 1., 1.])

In [4]:
td.change_weight('test','15')

In [5]:
td.weights

array([ 1.,  1., 15.])

In [6]:
td.show_die()

   faces  weights
0  hello      1.0
1  world      1.0
2   test     15.0

In [7]:
a = [1.,2,4,'hi']

In [8]:
a = np.array(a)
type(a[2])

numpy.str_

In [9]:
set(map(type, a))

{numpy.str_}

In [10]:
probs = [i/sum(td.weights) for i in td.weights]
print(probs)
td._die.faces.sample(weights=probs).values[0]

[0.058823529411764705, 0.058823529411764705, 0.8823529411764706]

'test'

In [11]:
samps = td.roll(100)

In [12]:
sum(np.array(samps)=="test")

90

In [13]:
td._die.index = range(6,9)

In [14]:
td._die.index.name = 'roll_num'

In [15]:
td._die

          faces  weights
roll_num
6         hello      1.0
7         world      1.0
8          test     15.0

In [17]:
from montecarlo.montecarlo import Game
dices = [Die(['a','b','c','d','e']),Die(['a','b','c','d','e']),Die(['a','b','c','d','e']),Die(['a','b','c','d','e'])]
tg = Game(dices)
all(type(die) == Die for die in dices)
die1 = die2 = die3 = Die(['Ace', 'King', 'Queen', 'Jack'])
die2.change_weight('Ace',10)
die3._die.shape == (4,2)

True

In [18]:
tg.dice[0].faces

array(['a', 'b', 'c', 'd', 'e'], dtype='<U1')

In [19]:
tg.play(10)

In [20]:
set(tg._results.iloc[0])

{'b', 'c', 'e'}

In [21]:
test = tg.show_result('narrow')
test.index.names == ['die_number', 'roll_number']
test.columns[0] == 'face_rolled'
test

                       face_rolled
die_number roll_number
0          1                     b
           2                     d
           3                     a
           4                     c
           5                     d
           6                     b
           7                     b
           8                     e
           9                     b
           10                    a
1          1                     e
           2                     a
           3                     c
           4                     a
           5                     a
           6                     c
           7                     e
           8                     a
           9                     e
           10                    e
2          1                     c
           2                     b
           3                     b
           4                     a
           5                     e
           6                     a
           7                     e
           8                     b
           9                     d
           10                    b
3          1                     c
           2                     d
           3                     d
           4                     d
           5                     e
           6                     c
           7                     a
           8                     c
           9                     b
           10                    e

In [22]:
all(np.array(sorted([1,2,3,4,5])) == np.array(sorted([1,2,3,5,4])))

True

In [23]:
die1 = Die(['Ace', 'King', 'Queen', 'Jack'])
die2 = Die(['Ace', 'King', 'Queen', 'Jack'])
game = Game([die1, die2])
game.play(10)
result = game.show_result('wide')
result#.value_counts().to_frame()

die_number       0      1
roll_number
1             King  Queen
2             Jack   Jack
3             Jack  Queen
4             King    Ace
5             Jack   Jack
6             King    Ace
7            Queen   Jack
8              Ace    Ace
9              Ace    Ace
10            King  Queen

In [24]:
sum(list(result.iloc[7] == 'Jack'))

0

In [25]:
testdata = [sorted(list(result.iloc[i])) for i in range(len(result))]
pd.DataFrame(testdata).value_counts().to_frame('counts')

            counts
0    1
Ace  Ace         2
     King        2
Jack Jack        2
     Queen       2
King Queen       2

In [26]:
unique_data = [list(x) for x in set(tuple(x) for x in testdata)]
unique_data

[['Ace', 'King'],
 ['Jack', 'Queen'],
 ['King', 'Queen'],
 ['Ace', 'Ace'],
 ['Jack', 'Jack']]

In [27]:
analyzer = Analyzer(game)

In [30]:
combos = analyzer.combo()
analyzer.combos
#sum(analyzer.combos['counts'])

            counts
0    1
Ace  Ace         2
     King        2
Jack Jack        2
     Queen       2
King Queen       2

In [31]:
analyzer.jackpot()
analyzer.jackpots

             jackpot
roll_number
1              False
2               True
3              False
4              False
5               True
6              False
7              False
8               True
9               True
10             False

In [32]:
np.unique(np.array([[1,2],[2,1],[2,2],[3,2],[2,3]]))

array([1, 2, 3])

In [36]:
analyzer.face_counts_per_roll

             Ace  King  Queen  Jack
roll_number
1              0     1      1     0
2              0     0      0     2
3              0     0      1     1
4              1     1      0     0
5              0     0      0     2
6              1     1      0     0
7              0     0      1     1
8              2     0      0     0
9              2     0      0     0
10             0     1      1     0

In [37]:
[sum(analyzer.face_counts_per_roll.iloc[i]) == 2 for i in range(len(analyzer.face_counts_per_roll))]

[True, True, True, True, True, True, True, True, True, True]

In [ ]:
die1 = Die(['Ace', 'King', 'Queen', 'Jack'])
die2 = Die(['Ace', 'King', 'Queen', 'Jack'])
die3 = Die(['Ace', 'King', 'Queen', 'Jack'])
game = Game([die1, die2, die3])
game.play(10)
analyzer = Analyzer(game)

In [ ]:
analyzer.game._results
#hasattr(analyzer, 'game._results')